.topbar {
  margin-top: 70px;
  height: 60px;
  background: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
  z-index: 1200;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger:hover {
  transform: scale(1.2);
}

.welcome-text {
  font-weight: 500;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.profile-container {
  position: relative;
}

.profile-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #0d6efd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  width: 220px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
